* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(Images/walpp.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef
}

.btn-box:hover {
    box-shadow: 0 0 20px cyan;
}

.profile {
    height: 511px;
    width: 410px;
    background: url(Images/Ruchi1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 0 57px #0ef,
        0 0 57px #0ef
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:650px) {
    .home {
        background: url(Images/walpp.png) no-repeat;
        width: 223%;
        height: 204vh;
    }

    .profile {
        height: 413px;
        width: 338px;
        margin-left: 24%;
        margin-top: -77%;
    }

    .home-content {
        margin-top: 42%;
        margin-left: 13%;
    }
}

.contact {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 95vh;
    background-color: rgb(48, 51, 51);
    background-size: cover;
    background-position: center;
    display: flex;
    display: inline-block;
}

.row {
    position: relative;
    width: 84%;
    height: 671px;
    background-color: rgb(133, 137, 136);
    margin-left: 8%;
    margin-top: 2%;
}

.row>h1 {
    margin-left: 43%;
    margin-top: 12px;
    color: rgb(247, 243, 243);
    padding-top: 10px;
}

.row1 {
    height: 950px;
    background-color: rgb(110, 110, 163);
}

#border {
    border-bottom: 2px solid white;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

#card1 {
    position: relative;
    justify-content: space-between;
    display: flex;
    margin-top: -576px;
    margin-left: 14%;
    width: 34%;
    height: 540px;
    float: left;
    border-radius: 2%;
    background-color: rgb(53 56 56);
    box-shadow: 0 0 20px rgb(246, 248, 248);
}

#card2 {
    position: relative;
    justify-content: space-between;
    display: flex;
    margin-top: -576px;
    margin-left: 52%;
    width: 34%;
    height: 540px;
    float: left;
    border-radius: 2%;
    background-color: rgb(53 56 56);
    box-shadow: 0 0 20px rgb(246, 248, 248);
}

.border1 {
    position: relative;
    margin: 3%;
    width: 94%;
}

.border1>iframe {
    width: 100%;
    height: 503px;
    border-radius: 2%;
}

#border2 {
    position: relative;
    margin: 6%;
    width: 94%;
}

#icons {
    margin: 3%;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.fontcolor {
    color: #fff;
}

input {
    margin: 1%;
    width: 98%;
    height: 39px;
    margin-top: 3%;
    padding-left: 2%;
    font-size: 20px;
}

textarea {
    height: 130px;
    padding-top: 1%;
    padding-left: 2%;
    margin-left: 1%;
    margin-top: 4%;
    width: 98%;
    font-size: 20px;
}

button {
    margin-left: 1%;
    margin-top: 3%;
    border: 2px solid white;
    color: rgb(247, 244, 244);
    padding: 6px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    background-color: rgb(53 56 56);
}

button:hover {
    background-color: #f9f6f6;
    color: #000000;
}

.project {
    background-color: rgb(93, 179, 179);
    height: 800px;
    width: 100%;
}

.border3 {
    /* border: 2px solid white; */
    border-radius: 2%;
    margin: 2%;
    width: 98%;
}

.border3>iframe {
    width: 100%;
    height: 75%;
}

.test {
    margin-left: 10%;
    width: 80%;
    position: relative;
    justify-content: space-between;
    display: flex;
    margin-top: -866px;
    height: 600px;
    float: left;
    border-radius: 2%;
    background-color: rgb(53 56 56);
    box-shadow: 0 0 20px rgb(246, 248, 248);
    display: flex;
}

.border3>h1 {
    padding: 2%;
}

.border3>p {
    padding-left: 2%;
    margin-top: -11px;
}

.border3>button {
    margin-top: 14px;
    margin-left: 20px;
    padding: 4px;
    font-size: 17px;
    box-shadow: 0 0 11px rgb(246, 248, 248);
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #131A22;
    width: 100%;
    height: 150px;
}

.copyright p {
    margin-bottom: 15px;
    margin-top: -10px;
    color: #ffc107;
    font-size: clamp(0.1rem, 12vw, 0.8rem);
    padding-top: 12px;
}

.footercontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.footercontent>span:nth-child(2) {
    position: relative;
    color: #ffc107;
    font-size: 15px;
    text-align: center;
    margin-top: 1%;
}